In [74]:
import numpy as np
import pandas as pd

In [75]:
df= pd.read_csv('cars_ds_final.csv')
df

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624 cc,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497 cc,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200 cc,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

### Clean displacement

In [76]:
df['Displacement'] = df['Displacement'].str.replace('cc', '')

In [77]:
df.describe()

,Unnamed: 0,Cylinders,Valves_Per_Cylinder,Doors,Seating_Capacity,Number_of_Airbags,USB_Ports
count,1276.000000,1210.000000,1174.000000,1272.000000,1270.000000,1141.000000,29.000000
mean,637.500000,4.380992,3.977853,4.550314,5.270079,3.787029,1.793103
std,368.493781,1.660957,0.833763,0.747816,1.145231,2.522399,0.773642
min,0.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000
25%,318.750000,4.000000,4.000000,4.000000,5.000000,2.000000,1.000000
50%,637.500000,4.000000,4.000000,5.000000,5.000000,2.000000,2.000000
75%,956.250000,4.000000,4.000000,5.000000,5.000000,6.000000,2.000000
max,1275.000000,16.000000,16.000000,5.000000,16.000000,14.000000,3.000000

In [78]:
df.Displacement

0        624
1        624
2        624
3        624
4        624
        ...
1271    1498
1272    1498
1273    1497
1274    1497
1275    3200
Name: Displacement, Length: 1276, dtype: object

In [79]:
df["Displacement"] = pd.to_numeric(df["Displacement"])

In [80]:
df.dtypes.Displacement

dtype('float64')

In [81]:
df["Displacement"].fillna(df["Displacement"].mean(), inplace=True)
df

,Unnamed: 0,Make,Model,Variant,Ex-Showroom_Price,Displacement,Cylinders,Valves_Per_Cylinder,Drivetrain,Cylinder_Configuration,...,Leather_Wrapped_Steering,Automatic_Headlamps,Engine_Type,ASR_/_Traction_Control,Cruise_Control,USB_Ports,Heads-Up_Display,Welcome_Lights,Battery,Electric_Range
0,0,Tata,Nano Genx,Xt,"Rs. 2,92,667",624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Tata,Nano Genx,Xe,"Rs. 2,36,447",624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tata,Nano Genx,Emax Xm,"Rs. 2,96,661",624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Tata,Nano Genx,Xta,"Rs. 3,34,768",624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Tata,Nano Genx,Xm,"Rs. 2,72,223",624.0,2.0,2.0,RWD (Rear Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,1271,Honda,City,Vx Mt Diesel,"Rs. 13,02,000",1498.0,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1272,1272,Honda,City,Zx Mt Diesel,"Rs. 14,21,000",1498.0,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1273,1273,Honda,City,Zx Cvt Petrol,"Rs. 14,31,000",1497.0,4.0,4.0,FWD (Front Wheel Drive),In-line,...,Yes,Yes,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1274,1274,Honda,City,V Cvt Petrol,"Rs. 12,01,000",1497.0,4.0,4.0,FWD (Front Wheel Drive),In-line,...,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1275,1275,Mitsubishi,Montero,3.2 At,"Rs. 68,62,560",3200.0,4.0,4.0,AWD (All Wheel Drive),In-line,...,Yes,NaN,NaN,Yes,Yes,NaN,NaN,NaN,NaN,NaN

### Clean body type

In [82]:
df.Body_Type

0       Hatchback
1       Hatchback
2       Hatchback
3       Hatchback
4       Hatchback
          ...
1271        Sedan
1272        Sedan
1273        Sedan
1274        Sedan
1275          SUV
Name: Body_Type, Length: 1276, dtype: object

In [83]:
df['Body_Type'].unique()

array(['Hatchback', 'MPV', 'MUV', 'SUV', 'Sedan', 'Crossover', nan,
       'Coupe', 'Convertible', 'Sports, Hatchback', 'Sedan, Coupe',
       'Sports', 'Crossover, SUV', 'SUV, Crossover', 'Sedan, Crossover',
       'Sports, Convertible', 'Pick-up', 'Coupe, Convertible'],
      dtype=object)

In [84]:
# Factorize the Body_Type column
df['Body_Type'], unique = pd.factorize(df['Body_Type'])

# Create a dictionary for the mapping
mapping = {name: num for num, name in enumerate(unique)}

# Print the mapping
print("Mapping of original names to numbers:")
for name, num in mapping.items():
    print(f"{name}: {num}")

# If you want to see the DataFrame as well
print("\nDataFrame after factorization:")
df.Body_Type

Mapping of original names to numbers:
Hatchback: 0
MPV: 1
MUV: 2
SUV: 3
Sedan: 4
Crossover: 5
Coupe: 6
Convertible: 7
Sports, Hatchback: 8
Sedan, Coupe: 9
Sports: 10
Crossover, SUV: 11
SUV, Crossover: 12
Sedan, Crossover: 13
Sports, Convertible: 14
Pick-up: 15
Coupe, Convertible: 16

DataFrame after factorization:

0       0
1       0
2       0
3       0
4       0
       ..
1271    4
1272    4
1273    4
1274    4
1275    3
Name: Body_Type, Length: 1276, dtype: int64

In [85]:
df['Body_Type'].unique()

array([ 0,  1,  2,  3,  4,  5, -1,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16])

### Clean Seating Cap

In [86]:
df.Seating_Capacity

0       4.0
1       4.0
2       4.0
3       4.0
4       4.0
       ...
1271    5.0
1272    5.0
1273    5.0
1274    5.0
1275    7.0
Name: Seating_Capacity, Length: 1276, dtype: float64

In [87]:
df['Seating_Capacity'].isna().any()

True

In [88]:
df['Seating_Capacity'].isna().sum()

6

In [89]:
df['Seating_Capacity'].isnull().sum()

6

In [90]:
df["Seating_Capacity"].fillna(df["Seating_Capacity"].mean(), inplace=True)

In [91]:
df['Seating_Capacity'].isna().sum()

0

In [92]:
df['Seating_Capacity'].isnull().sum()

0

### Clean milage

In [93]:
df.City_Mileage

0       ?23.6
1       ?23.6
2         NaN
3       ?23.6
4       ?23.6
        ...
1271     22.6
1272     22.6
1273       18
1274     14.3
1275     8.25
Name: City_Mileage, Length: 1276, dtype: object

In [94]:
df['City_Mileage'] = df['City_Mileage'].str.replace('?', '')

In [95]:
df.City_Mileage

0       23.6
1       23.6
2        NaN
3       23.6
4       23.6
        ...
1271    22.6
1272    22.6
1273      18
1274    14.3
1275    8.25
Name: City_Mileage, Length: 1276, dtype: object

In [96]:
df['City_Mileage'] = df['City_Mileage'].str.replace(',', '.')

In [97]:
df.City_Mileage

0       23.6
1       23.6
2        NaN
3       23.6
4       23.6
        ...
1271    22.6
1272    22.6
1273      18
1274    14.3
1275    8.25
Name: City_Mileage, Length: 1276, dtype: object

In [104]:
df['City_Mileage'].isna

<bound method Series.isna of 0       23.6
1       23.6
2        NaN
3       23.6
4       23.6
        ...
1271    22.6
1272    22.6
1273      18
1274    14.3
1275    8.25
Name: City_Mileage, Length: 1276, dtype: object>

In [105]:
df['City_Mileage'].isnull().sum()

555

In [106]:
df["City_Mileage"].fillna(df["City_Mileage"].mean(), inplace=True)

TypeError: can only concatenate str (not "int") to str

In [107]:
df["City_Mileage"] = pd.to_numeric(df["City_Mileage"])

ValueError: Unable to parse string "12.5-12.7" at position 304

In [112]:
df['City_Mileage'].str.contains('-', na=False).sum()

0

In [113]:
df['City_Mileage'] = df['City_Mileage'].str.replace('12.5-12.7', '12.6')

In [114]:
df["City_Mileage"] = pd.to_numeric(df["City_Mileage"])

In [115]:
df["City_Mileage"].fillna(df["City_Mileage"].mean(), inplace=True)

In [116]:
df.City_Mileage

0       23.600000
1       23.600000
2       51.884424
3       23.600000
4       23.600000
          ...
1271    22.600000
1272    22.600000
1273    18.000000
1274    14.300000
1275     8.250000
Name: City_Mileage, Length: 1276, dtype: float64

In [ ]:
df.to_csv()